<head>
  <link href="../static/css/main.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
</head>
<body>
  <div id="wrapper">
    <div id="main">
      <section class="post" id="{{liturgics.link_date}}">
        <h2>Contents</h2>
        {% for link in liturgics.links %}
          <h4>{{ link|safe }}</h4>
        {% endfor %}
        <hr/>
        {% set i = 1 %}
        <h1>{{ liturgics.day_string }}</h1>

        {% if liturgics.vespers is defined %}
          <h2 id="{{liturgics.vespers.link}}">Vespers</h2>
          <p><a href=#{{liturgics.link_date}}>Return to Beginning of Day</a></p>
          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h3>Kathisma Reading</h3>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
            {% for id,part in liturgics.vespers.vespers_kathisma.items() %}
              <div>{{ part|safe }}</div>
            {% endfor %}
          </div>

          {% if liturgics.vespers.m_stichera != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Menaion Stichera</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% for stichera in liturgics.vespers.m_stichera %}
                {{ stichera|safe }}
              {% endfor %}
            </div>
          {% endif %}

          {% if liturgics.vespers.o_stichera != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Octoechos Stichera</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% for stichera in liturgics.vespers.o_stichera %}
                {{ stichera|safe }}
              {% endfor %}
            </div>
          {% endif %}

          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h3>Hymns</h3>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
            {% if liturgics.vespers.doxastichon is defined %}
              <h4>Doxastichon from the Menaion</h4>
              {{ liturgics.vespers.doxastichon|safe }}
            {% endif %}
            {% if liturgics.vespers.dogmaticon is defined %}
              <h4>Dogmaticon from the Menaion</h4>
              {{ liturgics.vespers.dogmaticon|safe }}
            {% endif %}
            {% if liturgics.vespers.m_theotokion != None %}
              <h4>Theotokia from the Menaion</h4>
              {{ liturgics.vespers.m_theotokion|safe }}
            {% endif %}
            {% if liturgics.vespers.o_theotokion != None %}
              <h4>Theotokia from the Octoechos</h4>
              {{ liturgics.vespers.o_theotokion|safe }}
            {% endif %}
          </div>

          {% if liturgics.vespers.readings != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Readings from the Menaion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.vespers.readings|safe }}
            </div>
          {% endif %}

          <h3>Aposticha</h3>
          {% if liturgics.vespers.m_aposticha != None %}
          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h4>From the Menaion</h4>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.vespers.m_aposticha|safe }}
          </div>
          {% endif %}
          {% if liturgics.vespers.o_aposticha != None %}
          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h4>From the Octoechos</h4>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.vespers.o_aposticha|safe }}
          </div>
          {% endif %}

          {% if liturgics.vespers.apolytichion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Apolytichia</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.vespers.apolytichion|safe }}
            </div>
          {% endif %}
          <hr />
        {% endif %}

        {% if liturgics.compline is defined %}
          <h2 id="{{liturgics.compline.link}}">Compline</h2>
          <p><a href=#{{liturgics.link_date}}>Return to Beginning of Day</a></p>
          {% if liturgics.compline.odes is defined %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3></h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% for part in liturgics.compline.odes %}
                <div>{{ part|safe }}</div>
              {% endfor %}
            </div>
          {% endif %}

          <hr />
        {% endif %}

        {% if liturgics.nocturns is defined %}
          <h2 id="{{liturgics.nocturns.link}}">Nocturns</h2>
          <p><a href=#{{liturgics.link_date}}>Return to Beginning of Day</a></p>
          {% if liturgics.nocturns.odes is defined %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3></h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% for part in liturgics.nocturns.odes %}
                <div>{{ part|safe }}</div>
              {% endfor %}
            </div>
          {% endif %}

          <hr />
        {% endif %}

        {% if liturgics.matins is defined %}
          <h2 id="{{liturgics.matins.link}}">Matins</h2>
          <p><a href=#{{liturgics.link_date}}>Return to Beginning of Day</a></p>
          <div id={{liturgics.day_string ~ '_' ~ i}}>
            {% if liturgics.matins.m_troparia is defined or liturgics.matins.o_troparia is defined %}
              <h3>Troparia</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_troparia is defined %}
                <h4>From the Menaion</h4>
                {{ liturgics.matins.m_troparia|safe }}
              {% endif %}
              {% if liturgics.matins.o_troparia is defined %}
                <h4>From the Octoechos</h4>
                {{ liturgics.matins.o_troparia|safe }}
              {% endif %}
            {% endif %}
          </div>

          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h3>First Kathisma Reading</h3>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
            {% for id,part in liturgics.matins.kathisma1.items() %}
              <div>{{ part|safe }}</div>
            {% endfor %}
          </div>

          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h3>Second Kathisma Reading</h3>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
            {% for id,part in liturgics.matins.kathisma2.items() %}
              <div>{{ part|safe }}</div>
            {% endfor %}
          </div>

          {% if liturgics.matins.m_session1 != None or liturgics.matins.o_session1 != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>First Sessional Hymn</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_session1 != None %}
                <h4>From the Menaion</h4>
                {{ liturgics.matins.m_session1|safe }}
              {% endif %}
              {% if liturgics.matins.o_session1 != None %}
                <h4>From the Octoechos</h4>
                {{ liturgics.matins.o_session1|safe }}
              {% endif %}
            </div>
          {% endif %}

          {% if liturgics.matins.m_session2 != None or liturgics.matins.o_session2 != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Second Sessional Hymn</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_session2 != None %}
                <h4>From the Menaion</h4>
                {{ liturgics.matins.m_session2|safe }}
              {% endif %}
              {% if liturgics.matins.o_session2 != None %}
                <h4>From the Octoechos</h4>
                {{ liturgics.matins.o_session2|safe }}
              {% endif %}
            </div>
          {% endif %}

          {% if liturgics.matins.m_session3 != None or liturgics.matins.o_session3 != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Third Sessional Hymn</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_session3 != None %}
                <h4>From the Menaion</h4>
                {{ liturgics.matins.m_session3|safe }}
              {% endif %}
              {% if liturgics.matins.o_session3 != None %}
                <h4>From the Octoechos</h4>
                {{ liturgics.matins.o_session3|safe }}
              {% endif %}
            </div>
          {% endif %}

          {% if liturgics.matins.apolytichion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Apolytichion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.apolytichion|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.megalynarion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Megalynarion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.megalynarion|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.m_prokeimenon != None or liturgics.matins.o_prokeimenon != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Prokeimena</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_prokeimenon != None %}
                <h4>From the Menaion</h4>
                {{ liturgics.matins.m_prokeimenon|safe }}
              {% endif %}
              {% if liturgics.matins.o_prokeimenon != None %}
                <h4>From the Octoechos</h4>
                {{ liturgics.matins.o_prokeimenon|safe }}
              {% endif %}
            </div>
          {% endif %}

          {% if liturgics.matins.readings != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Readings</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.readings|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.after50 != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>After Psalm 50</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.after50|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.m_ascent != None or liturgics.matins.o_ascent != None  %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Hymn of Ascent</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {% if liturgics.matins.m_ascent != None %}
              <h4>From the Menaion</h4>
              {{ liturgics.matins.m_ascent|safe }}
              {% endif %}
              {% if liturgics.matins.o_ascent != None %}
              <h4>From the Octoechos</h4>
              {{ liturgics.matins.o_ascent|safe }}
              {% endif %}
            </div>
          {% endif %}

          {% if liturgics.matins.m_canon != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Canon</h3>
              <h4>From the Menaion</h4>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.m_canon|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.o_canon != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Canon</h3>
              <h4>From the Octoechos</h4>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.o_canon|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.exapostilarion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Exapostilarion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.exapostilarion|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.praises != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Lauds (Praises)</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.praises|safe }}
            </div>
          {% endif %}

          {% if liturgics.matins.aposticha != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Aposticha</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.matins.aposticha|safe }}
            </div>
          {% endif %}

          <hr />
        {% endif %}

        {% if liturgics.typika is defined %}
          <h2 id="{{liturgics.typika.link}}">Typika</h2>
          <p><a href=#{{liturgics.link_date}}>Return to Beginning of Day</a></p>
          <div id={{liturgics.day_string ~ '_' ~ i}}>
            <h3>Beatitudes</h3>
            {% set i = i + 1 %}
            <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
            {% if liturgics.typika.m_beatitudes != None %}
              <h4>From the Menaion</h4>
              {% for verse in liturgics.typika.m_beatitudes %}
                {{ verse|safe }}
              {% endfor %}
            {% endif %}
            {% if liturgics.typika.o_beatitudes != None %}
              <h4>From the Octoechos</h4>
              {% for verse in liturgics.typika.o_beatitudes %}
                {{ verse|safe }}
              {% endfor %}
            {% endif %}
          </div>

          {% if liturgics.typika.resurrection_troparion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Resurrection Troparion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.typika.resurrection_troparion|safe }}
            </div>
          {% endif %}

          {% if liturgics.typika.troparion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Troparion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.typika.troparion|safe }}
            </div>
          {% endif %}

          {% if liturgics.typika.kontakion != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Kontakion</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.typika.kontakion|safe }}
            </div>
          {% endif %}

          {% if liturgics.typika.prokeimenon != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Prokeimenon</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.typika.prokeimenon|safe }}
            </div>
          {% endif %}

          {% if liturgics.typika.readings != None %}
            <div id={{liturgics.day_string ~ '_' ~ i}}>
              <h3>Readings</h3>
              {% set i = i + 1 %}
              <p><a href=#{{liturgics.day_string ~ '_' ~ (i-2)}}>&lt&ltBack</a> | <a href=#{{liturgics.day_string ~ '_' ~ i}}>Next>></a></p>
              {{ liturgics.typika.readings|safe }}
            </div>
          {% endif %}

          <hr />
        {% endif %}

{#---------------------------------------------------------------------------------
----------------------------------TEMPLATES----------------------------------------
-----------------------------------------------------------------------------------
          {% if liturgics.liturgy.?? is defined %}
            <div id={{id}}>
              <h3></h3>
              {% set id = id + 1 %}
              <p><a href=#{{id-2}}>&lt&ltBack</a> | <a href=#{{id}}>Next>></a></p>
              {{ liturgics.liturgy.??|safe }}
            </div>
          {% endif %}
-----------------------------------------------------------------------------------
          <div id={{id}}>
            <h3></h3>
            {% set id = id + 1 %}
            <p><a href=#{{id-2}}>&lt&ltBack</a> | <a href=#{{id}}>Next>></a></p>
            {% if liturgics.liturgy.m_ is defined %}
              <h4>From the Menaion</h4>
              {{ liturgics.liturgy.m_|safe }}
            {% endif %}
            {% if liturgics.liturgy.o_ is defined %}
              <h4>From the Octoechos</h4>
              {{ liturgics.liturgy.o_|safe }}
            {% endif %}
          </div>
-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------#}
      </section>
    </div>
  </div>
</body>
